.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
}
.main_container > span {
  color: red;
}