.home_main {
    height: 100vh;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    margin: auto;
    position: fixed;
    left: 5%;
    right: 5%;
    z-index: 20;    
}
.logo {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 10%;
}
.logo > img {
    height: 90%;
}
.login {
    display: flex;
    align-items: center;
    height: 100%;
}
.login > a {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 2px 3px 5px white;
    margin-left: 30px; 
}
.section {
    height: 95%;
    position: relative;
}
.description {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 10%;
    width: 80%;
    bottom: 7%;
    left: 10%;
}
.description p {
    font-size: 27px;
    font-weight: 700;
    text-shadow: 2px 3px 5px white; 
}
.background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: 55%;
}
.scroll_button {
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: aliceblue;
    border-radius: 50%;
    animation: lookOut 2.5s infinite ease-in-out;
}
.scroll_button > a > i {
    font-size: 40px;
}
@keyframes lookOut {
    60% {
        bottom: 40px
    }
    
}