nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    background: linear-gradient(to right,
    rgba(100, 100, 100, 0.900),
    rgba(57, 57, 57, 0.600),
    rgba(57, 57, 57, 0.400),
    rgba(57, 57, 57, 0.300),
    rgba(57, 57, 57, 0.200), 
    rgba(128, 128, 128, 0));
}
.userDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.routes {
    display: flex;
    flex-direction: column;
}
.routes a{
    display: flex;
    font-size: 1.8rem;
    padding: 0 40px;
    transition: transform .5s ,color .9s, text-shadow .5s;
    font-weight: 600;
    height: 100px;
    align-items: center;
    width: 100%;
    color : white;
}
.logout {
    display: flex;
    font-size: 1.8rem;
    padding: 0 40px;
    transition: transform .5s ,color .9s, text-shadow .5s;
    font-weight: 600;
    height: 100px;
    align-items: center;
    width: 100%;
    color : white;
}
.routes a:hover , .logout:hover {
    transform: scaleX(1.07);
    background: linear-gradient(to right,
    rgba(44, 44, 44, 0.962),
    rgba(44, 44, 44, 0.632),
    rgba(44, 44, 44, 0.357),
    rgba(44, 44, 44, 0.237), 
    rgba(44, 44, 44, 0)
    );
    text-shadow: 4px -4px 3px black;
}