nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    background: linear-gradient(to right,
    rgba(57, 57, 57, 0.962),
    rgba(57, 57, 57, 0.632),
    rgba(57, 57, 57, 0.357),
    rgba(57, 57, 57, 0.237), 
    rgba(128, 128, 128, 0));
}
.userDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.routes {
    display: flex;
    flex-direction: column;
}
.routes a{
    display: flex;
    font-size: 1.8rem;
    padding: 0 40px;
    transition: transform .4s ,color .4s;
    font-weight: 500;
    height: 100px;
    align-items: center;
    width: 100%;

}
.routes a:hover{
    transform: scaleX(1.05);
    background: linear-gradient(to right,
    rgba(44, 44, 44, 0.962),
    rgba(44, 44, 44, 0.632),
    rgba(44, 44, 44, 0.357),
    rgba(44, 44, 44, 0.237), 
    rgba(44, 44, 44, 0)
    );
}
.active {
    text-shadow: 4px 4px 5px black;
    color: red;
}